@page
@model IndexModel
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home page";
}

<div class="row justify-content-center">
    <div class="col-lg-8">
        @if (SignInManager.IsSignedIn(User))
        {
            <form method="post" class="card p-3" autocomplete="off">
                <div class="row g-3">
                    <div class="col">
                        <textarea class="form-control" asp-for="PostMessage" placeholder="Say something">
                        </textarea>
                        <span class="text-danger">
                            @Html.ValidationSummary()
                        </span>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-dark" type="submit">Send</button>
                    </div>
                </div>
            </form>
        }

        @foreach (var post in Model.Posts)
        {
            <div class="card mt-3">
                <div class="card-body">
                    <rich-text text="@post.Text"></rich-text>
                </div>
                <div class="card-footer">
                    <p class="text-secondary text-end">
                        - @post.User!.UserName at
                        @if (post.Date.Date == DateTime.Today)
                        {
                            @post.Date.ToString(@"HH:mm")
                        }
                        else
                        {
                            @post.Date.ToString(@"HH:mm on d MMM yyyy")
                        }
                        GMT+3
                    </p>
                </div>
            </div>
        }
    </div>
</div>
